@{ ViewBag.Title = "Đặt hàng thành công"; }
<div class="container text-center mt-5">
    <h2>Cảm ơn bạn!</h2>
    <p class="lead">Đơn hàng của bạn đã được ghi nhận thành công.</p>
    @Html.ActionLink("Tiếp tục mua sắm", "Index", "Home", null, new { @class = "btn btn-primary" })
</div>